# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyDd3ZGuJ46j8Vnn2_5nDxC-jfo8VRCiXP8
REACT_APP_FIREBASE_AUTH_DOMAIN=wemeca-agenda.firebaseapp.com
REACT_APP_FIREBASE_DATABASE_URL=https://wemeca-agenda-default-rtdb.europe-west1.firebasedatabase.app
REACT_APP_FIREBASE_PROJECT_ID=wemeca-agenda
REACT_APP_FIREBASE_STORAGE_BUCKET=wemeca-agenda.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=982350044603
REACT_APP_FIREBASE_APP_ID=1:982350044603:web:6e7ed5e4a586b9fa9f789e

# Admin Authentication
REACT_APP_ADMIN_PASSWORD=admin2025